## Python Basics

In [1]:
print("This is my First Class")

This is my First Class

In [3]:
a=5+6j # use j not i for complex numbers
type(a)

complex

In [15]:
def test():
    """This is my fuction that tests a value"""
    return True

In [16]:
test()

True

In [17]:
print(test.__doc__) # gives the docstring

This is my fuction that tests a value

In [7]:
a=10
b=20
type(a)

int

In [8]:
a+b

30

In [5]:
b="sudh"
type(b)

str

In [6]:
c=45.67
type(c)

float

In [12]:
d=7+8j
d.real

7.0

In [13]:
d.imag

8.0

In [14]:
1+"sudh"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
# can be resolved by (a)Concatenation (b)TypeCasting
# (a) Concatenation
"1"+"sudh"

'1sudh'

In [17]:
# (b) Tpyecasting

str(1)+"sudh"

'1sudh'

In [18]:
s="sudh kumar"

In [19]:
s

'sudh kumar'

In [20]:
s[0]

's'

In [21]:
s[8]

'a'

In [23]:
s[90] # Out of Range Error

IndexError: string index out of range

In [24]:
 s[-2]

'a'

In [27]:
# Slicing Operation
s[0:4]

'sudh'

In [29]:
s[5:90] # No out of Index Error in Slicing Operation

'kumar'

In [31]:
s[0:10:2] # third term represents the interval or Step Size (by default 1)

'sd ua'

In [33]:
s[::2] # first and second are starting and end indexes of the string taken by deafult if not mentioned

'sd ua'

In [34]:
s[::3]

'shur'

In [36]:
s[0::2] # Mentioned only starting index

'sd ua'

In [42]:
s[0::-1] # Scaling concept, nothing beyond start index 0, so only gives 's'

's'

In [49]:
s[::-1] # Scaling Concept, moves in backward direction- start= -n and final=0 index, reverse string

'ramuk hdus'

In [50]:
s[0:5:-1] # Scaling Concept, start/end indcies direction and jump direction are opposite

''

In [51]:
s[0:10:-1] # Scaling Concept, start/end indcies direction and jump direction are opposite

''

In [52]:
s[5:1:1] # Scaling Concept, start/end indcies direction and jump direction are opposite

''

In [53]:
s[5:1:-1]  # Scaling Concept, start/end indcies direction and jump direction are same, moves in backward direction

'k hd'

In [54]:
s[5:-1:-1]

''

In [55]:
1+1

2

In [56]:
"sudh"+" sudh"

'sudh sudh'

In [58]:
3*10

30

In [59]:
"sudh "*10

'sudh sudh sudh sudh sudh sudh sudh sudh sudh sudh '

In [60]:
4/6

0.6666666666666666

In [62]:
"sudh"/6 # We can't perform division with strings

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [66]:
b=True #  True=1
type(b)

bool

In [67]:
v=False # False=0
type(v)

bool

In [70]:
True - True # 1-1 =0

0

In [71]:
True- False # 1-0 = 1

1

In [72]:
True*True

1

In [74]:
True/True

1.0

In [78]:
Ture/False # Not possible in Core Python,  But this operation is possible in Python Numpy Package which gives Output as "INF- Infinity"

NameError: name 'Ture' is not defined

In [79]:
1/0

ZeroDivisionError: division by zero

In [81]:
import numpy as np
np.asanyarray([0,1])/0 

# 0/0 = nan
# 1/0= inf , inf is a keyword that exists in Numpy

E:\jupyter\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in true_divide

E:\jupyter\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in true_divide

array([nan, inf])

In [83]:
np.asanyarray([5,1])/0

E:\jupyter\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

array([inf, inf])

In [2]:
l=["sudh",45,54,454,5,4,45.67,57,5+7j,"fsdf","fdsfsf",[1,2,3,3,4]]

In [3]:
type(l)

list

In [4]:
l[0]

'sudh'

In [5]:
l[100]

IndexError: list index out of range

In [6]:
l[-1]

[1, 2, 3, 3, 4]

In [7]:
l[0:4]

['sudh', 45, 54, 454]

In [9]:
l[::-1] # reverse list

[[1, 2, 3, 3, 4],
 'fdsfsf',
 'fsdf',
 (5+7j),
 57,
 45.67,
 4,
 5,
 454,
 54,
 45,
 'sudh']

In [10]:
l[5:0:1]

[]

In [11]:
l[5:10:-1]

[]

In [12]:
l[-2:-5:1]

[]

In [13]:
l[-2:-5:-1]

['fdsfsf', 'fsdf', (5+7j)]

In [14]:
l[0][::-1] # reverse of sudh in l

'hdus'

In [16]:
l[-1][::-1] # reverse of last element in l

[4, 3, 3, 2, 1]

In [18]:
l[1][::-1] # 45 is int which is not iterable

TypeError: 'int' object is not subscriptable

In [19]:
a=[1,2,3,4]

In [20]:
a+"sudh"

TypeError: can only concatenate list (not "str") to list

In [21]:
a+list("sudh")

[1, 2, 3, 4, 's', 'u', 'd', 'h']

In [22]:
"a" +"sudh"

'asudh'

In [24]:
a*4 # gives a list in which each element is repeated 4 times

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [29]:
range(10) # gives output as sequence not as list 
# acts as a generator function, generates only integer value

range(0, 10)

In [30]:

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
list(range(4,20))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [32]:
list(range(4,20,2))

[4, 6, 8, 10, 12, 14, 16, 18]

In [33]:
list(range(-3,-13,1))

[]

In [34]:
list(range(-3,-13,-1))

[-3, -4, -5, -6, -7, -8, -9, -10, -11, -12]

In [35]:
list(range(1,2000))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 ...]

In [36]:
list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [38]:
a=10 # Hard Coded - we have already provided the values
b=20
a+b

30

In [41]:
# Taking inputs from users, input() gives output as "String"
a=input() 
b=input()
type(a)

45
56

str

In [44]:
a+b # performing concatenation and not arithmetic addition

'4556'

In [45]:
a=int(input()) 
b=int(input())
type(a)

45
78

int

In [46]:
a+b

123

In [1]:
a=int(input("Enter the Value of a ", )) 
b=int(input("Enter the Value of b ", ))
type(a)

Enter the Value of a 43543
Enter the Value of b 34

int

In [2]:
a+b

43577

In [3]:
a=(1,2,3,4)
type(a)

tuple

In [7]:
a=(1,2,3,4,"sudh","dsfds",45.7) # can store homogeneous and heterogeneous data
type(a)

tuple

In [8]:
a[0]

1

In [9]:
a[0:5] # slicing can be done

(1, 2, 3, 4, 'sudh')

In [10]:
a[::-1] # reverse of tuple

(45.7, 'dsfds', 'sudh', 4, 3, 2, 1)

In [12]:
l=[1,2,3,4,"sudh","dsfds",45.7] 
type(l)

list

In [13]:
l[0]="sudh" # lists are Mutbale

In [14]:
l

['sudh', 2, 3, 4, 'sudh', 'dsfds', 45.7]

In [15]:
a

(1, 2, 3, 4, 'sudh', 'dsfds', 45.7)

In [16]:
a[0]="kumar" # tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [20]:
s="kumar"

In [21]:
s[0]

'k'

In [22]:
s[0]="h" # strings are immutable

TypeError: 'str' object does not support item assignment

#### Control Flow

In [7]:
UserInput=[]

for n in range (3):
    value= input()
    UserInput.append(value)
print(UserInput)

fahf
adhvfiouh
dijf0gief
['fahf', 'adhvfiouh', 'dijf0gief']

In [8]:
a=10
if a: # The statement gets executed because "a" exists
    print("this is a value of a")

this is a value of a

In [11]:
a=10
if a<20:
    print("test")

test

In [12]:
a =10
if a >20:
    pass

In [14]:
a=10
if a>20:
    print("this is number")
else:
    print("print this statement")

print this statement

In [20]:
a=10
if a>20:
    print("this is number")
if a==10:  # True, this condition gets executed 
    print("this is my alternate statement")
else:
    print("print this statement")

this is my alternate statement

In [21]:
a=10
if a>20:
    print("this is number")
if a==10:  # True, again this condition gets executed, if one codition body's get executed then python won't check other statements 
    print("this is my alternate statement")
elif a<20:
    print("print form elif")
else:
    print("print this statement")

this is my alternate statement

In [22]:
a=10
if a>20:
    print("this is number")
if a==30: 
    print("this is my alternate statement")
elif a<20:  # True, this condition gets executed 
    print("print form elif")
else:
    print("print this statement")

print form elif

In [24]:
a=10
if a>20:
    print("this is number")
if a==30: 
    print("this is my alternate statement")
elif type(a)==int:
    print("i am checking a type of var")
elif a<20:  # True, this condition gets executed 
    print("print form elif")
else:
    print("print this statement")

i am checking a type of var

In [27]:
Discount= int(input())
if Discount==50:
    print("you can buy all the items listed in row 1")
elif Discount==30:
    print("you can buy all the items listed in row 2")
elif Discount==20:
    print("Send User to row no 3")
elif Discount>10:
    print("Send him to 4th row")
else:
    print("there is no item available")

5
there is no item available

In [2]:
# Nested If-Else

income=int(input())
if income>1000:
    print("You can get a Platinum Card")
    if income>2000:
        print("You will be able to another facilities")
        if income >2200:
            print("You will be able to get a discount on services")
        elif income >2300:
            print("You will be able to get an air ticket")
        else:
            print("There is no option available")
    elif income<1500:
        print("You won't be able to get other things")
    else:
        print("No option")
elif income>800:
    print("You can get a Gold Card")
else:
    print("You won't be able to  get a card")
    
# Here the conditions are connected hence if one if one gets true other won't get executed

2500
You can get a Platinum Card
You will be able to another facilities
You will be able to get a discount on services

In [3]:
income=int(input())
if income>1000:
    print("You can get a Platinum Card")
if income>2000:
    print("You will be able to another facilities")
if income >2200:
    print("You will be able to get a discount on services")
    
#Here 3 If's are acting as 3 different conditions, that is why all are executed

2300
You can get a Platinum Card
You will be able to another facilities
You will be able to get a discount on services

In [1]:
val = int(input())
if val==10:print("this is 10")

10
this is 10

In [2]:
l=[2,3,4,5,6,1,2,3,3]
l

[2, 3, 4, 5, 6, 1, 2, 3, 3]

In [3]:
l[::]

[2, 3, 4, 5, 6, 1, 2, 3, 3]

In [5]:
for i in l

SyntaxError: invalid syntax (<ipython-input-5-a28d2c74d4d7>, line 1)

In [6]:
for i in l:

SyntaxError: unexpected EOF while parsing (<ipython-input-6-b882057075b2>, line 2)

In [7]:
for i in l: # unexpected EOF while parsing
    pass

In [11]:
for i in l:
    print(i)

2
3
4
5
6
1
2
3
3

In [16]:
l=["sudh",[1,2,3,4,5],(2,3,4,5,6), 56,67,6+7j, True, 45.67, "kumar"]
for i in l: # we can also write for i in ["sudh",[1,2,3,4,5],(2,3,4,5,6), 56,67,6+7j, True, 45.67]
    print(i)

sudh
[1, 2, 3, 4, 5]
(2, 3, 4, 5, 6)
56
67
(6+7j)
True
45.67
kumar

In [17]:
# getting only sting out of the list

for i in l:
    if type(i)==str:
        print(i)

sudh
kumar

In [18]:
# getting the third element(stored index=2) of the list item in l
for i in l:
    if type(i)==list:
        print(i[2])

3

In [19]:
# getting reverse of the list item in l
for i in l:
    if type(i)==list:
        print(i[::-1])

[5, 4, 3, 2, 1]

In [21]:
s="sudh kumar"
for i in s:
    print(i) # printed all the characters of the string

s
u
d
h

k
u
m
a
r

In [22]:
s="sudh kumar"
for i in s:
    print(i + "1")

s1
u1
d1
h1
 1
k1
u1
m1
a1
r1

In [23]:
t=(3,4,5,6,7)
for i in t:
    print(i)

3
4
5
6
7

In [26]:
range(10) # gives a sequence

range(0, 10)

In [28]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
for i in range(10): # acts as a generator function
    print(i)

0
1
2
3
4
5
6
7
8
9

In [32]:
a=10236458 # int is not an interable so typecasting it in string
for i in str(a):
    print(i)

1
0
2
3
6
4
5
8

In [34]:
l

['sudh',
 [1, 2, 3, 4, 5],
 (2, 3, 4, 5, 6),
 56,
 67,
 (6+7j),
 True,
 45.67,
 'kumar']

In [37]:
# getting string, list and tuple item in l
for i in l:
    if type(i)==list or type(i)== tuple or type(i)==str:
        print(i)

sudh
[1, 2, 3, 4, 5]
(2, 3, 4, 5, 6)
kumar

In [39]:
for i in l:
    if type(i)==list and type(i)== tuple and type(i)==str: # checked each element
        print(i)
    else:
        print("this is not posiible")

this is not posiible
this is not posiible
this is not posiible
this is not posiible
this is not posiible
this is not posiible
this is not posiible
this is not posiible
this is not posiible

In [40]:
for i in l:
    if type(i)==list or type(i)== tuple or type(i)==str: 
        print(i)
    else:
        print("this is not posiible")

sudh
[1, 2, 3, 4, 5]
(2, 3, 4, 5, 6)
this is not posiible
this is not posiible
this is not posiible
this is not posiible
this is not posiible
kumar

In [42]:
list1=[[1,2,3,4],"Jhon",(1,2,3,4),445,44.8,3+5j,True,"Smith"]
list1

[[1, 2, 3, 4], 'Jhon', (1, 2, 3, 4), 445, 44.8, (3+5j), True, 'Smith']

In [47]:
# Nested for loops
# extracting the elements of the list and tuple items in the list list1
for i in list1:
    print(i)
    if type(i)==list or type(i)==tuple:
        for j in i:
            print(j)

# getting all elements

[1, 2, 3, 4]
1
2
3
4
Jhon
(1, 2, 3, 4)
1
2
3
4
445
44.8
(3+5j)
True
Smith

In [48]:
# Nested for loops
# extracting the elements of the list and tuple items in the list list1
for i in list1:
    if type(i)==list or type(i)==tuple:
        print(i)
        for j in i:
            print(j)

# only getting list and tuple elements

[1, 2, 3, 4]
1
2
3
4
(1, 2, 3, 4)
1
2
3
4

In [50]:
# print pyramid structure
a=int(input())
for i in range(a+1):
    print(i*"*")

5

*
**
***
****
*****

In [4]:
# another way
n=int(input())
for i in range(n):
    for j in range(i+1):
        print("*", end="")
    print("") # to get into next line as print has end ="\n" by default- give a space and change the line

5
*
**
***
****
*****

In [5]:
n=int(input())
for i in range(n):
    for j in range(i+1):
        print("*", end="a")
    print("a")

5
*aa
*a*aa
*a*a*aa
*a*a*a*aa
*a*a*a*a*aa

In [22]:
# Q1. Fibonacci Series
a= int(input())
n1=0
n2=1
if (a==1):
    print(0)
elif (a>1):
    print(n1,n2,end=" ")
    for i in range(a-2):
        counter=n1+n2
        n1,n2=n2,counter
        print(counter, end=" ")

5
0 1 1 2 3

In [40]:
# Q2 Diamond Pattern
n = int(input())
for i in range(n):
    print((n-1-i)*" ","* "*(i+1))
for i in range(n-1,0,-1):
    print((n-i)*" ", "* "*i)

5
     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [15]:
# Q3 Find the repeating elements of the list item in the given list

l=[[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]
for i in l:
    t=set() # empty set
    for k in range (len(i)):
        m=0
        for j in range (len(i)):
            if i[k]==i[j]:
                m=m+1
        if m>1:
            t.add(f"{i[k]} repeats {m} times") # adding to set
    print(f"Repeating element in list {i}")
    print(t)

Repeating element in list [1, 1, 2, 2, 3, 3]
{'1 repeats 2 times', '3 repeats 2 times', '2 repeats 2 times'}
Repeating element in list [2, 4, 2, 2, 5]
{'2 repeats 3 times'}
Repeating element in list [1, 5, 8, 8, 2]
{'8 repeats 2 times'}